---
const year = new Date().getFullYear();

import type { Props } from "@astrojs/starlight/props";
import Pagination from "@astrojs/starlight/components/Pagination.astro";
---

<footer>
	<Pagination {...Astro.props} />
	<div class="daisy_alert daisy_footer items-center p-4 copyright">
		<aside class="items-center grid-flow-col">
			<img width="36" height="36" src="/fleco.svg" />
			<p>Copyright © {year} - All rights reserved</p>
		</aside>
	</div>
</footer>

<style>
	.copyright {
		margin-top: 15px;
	}
</style>
