---
const year = new Date().getFullYear();

import type { Props } from "@astrojs/starlight/props";
import Pagination from "@astrojs/starlight/components/Pagination.astro";
import { Icon } from "@astrojs/starlight/components";

import config from "virtual:starlight/user-config";

type Platform = keyof NonNullable<typeof config.social>;
type SocialConfig = NonNullable<NonNullable<typeof config.social>[Platform]>;
const links = Object.entries(config.social || {}) as [Platform, SocialConfig][];
---

<footer>
	<Pagination {...Astro.props} />
	<div
		class="tw-flex tw-justify-between tw-rounded-lg tw-bg-gray-800 tw-daisy-footer tw-items-center tw-p-4 copyright tw-shadow-lg"
	>
		<aside class="tw-items-center tw-inline-flex tw-flex-start">
			<img width="36" height="36" src="/fleco.svg" alt="fleco-logo" />
			<p>Copyright © {year} - All rights reserved</p>
		</aside>
		{
			links.length > 0 && (
				<nav class="tw-inline-flex tw-gap-4 tw-text-center tw-items-center">
					{links.map(([platform, { label, url }]) => (
						<a href={url} rel="me" class="tw-flex tw-items-center">
							<span class="sr-only">{label}</span>
							<Icon
								class="tw-transition hover:tw-opacity-60 tw-text-xl"
								name={platform}
							/>
						</a>
					))}
				</nav>
			)
		}
	</div>
</footer>

<style>
	.copyright {
		margin-top: 15px;
	}
</style>
