---
const year = new Date().getFullYear();

import type { Props } from '@astrojs/starlight/props';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
import { Icon } from '@astrojs/starlight/components';

import config from 'virtual:starlight/user-config';

type Platform = keyof NonNullable<typeof config.social>;
type SocialConfig = NonNullable<NonNullable<typeof config.social>[Platform]>;
const links = Object.entries(config.social || {}) as [Platform, SocialConfig][];
---

<footer>
	<Pagination {...Astro.props} />
	<div
		class="copyright tw-daisy-footer tw-flex tw-items-center tw-justify-between tw-rounded-lg tw-p-4 tw-shadow-lg"
	>
		<aside class="tw-flex-start tw-inline-flex tw-items-center">
			<img width="36" height="36" src="/fleco.svg" alt="fleco-logo" />
			<p>Copyright © {year} - All rights reserved</p>
		</aside>
		{
			links.length > 0 && (
				<nav class="tw-inline-flex tw-items-center tw-gap-4 tw-text-center">
					{links.map(([platform, { label, url }]) => (
						<a href={url} rel="me" class="tw-flex tw-items-center">
							<span class="sr-only">{label}</span>
							<Icon class="tw-text-xl tw-transition hover:tw-opacity-60" name={platform} />
						</a>
					))}
				</nav>
			)
		}
	</div>
</footer>

<style>
	:root[data-theme='light'] .copyright {
		@apply tw-bg-gray-200;
	}

	:root[data-theme='dark'] .copyright {
		@apply tw-bg-gray-800;
	}

	@media (prefers-color-scheme: dark) {
		.copyright {
			@apply tw-bg-gray-200;
		}
	}

	@media (prefers-color-scheme: light) {
		.copyright {
			@apply tw-bg-gray-800;
		}
	}

	.copyright {
		margin-top: 15px;
	}
</style>
