---
interface Props {
	content: string;
}

const { content } = Astro.props;
---

<span
	class="inline-code tw-m-1 tw-rounded-lg tw-bg-gray-700 tw-p-2 tw-text-xs tw-text-white tw-drop-shadow-lg"
>
	{content}
</span>

<style>
	.inline-code {
		font-family: var(--__sl-font-mono);
	}
</style>
