---
interface Props {
	content: string;
}

const { content } = Astro.props;
---

<span class="inline-code rounded-lg bg-gray-700 p-1 text-xs drop-shadow-lg">
	{content}
</span>

<style>
	.inline-code {
		font-family: var(--__sl-font-mono);
	}
</style>
